<?xml version="1.0" encoding="UTF-8"?>
<server description="Controller Server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-7.0</feature>
        <feature>adminCenter-1.0</feature>
        <feature>collectiveController-1.0</feature>
        <feature>collectiveMember-1.0</feature>
        <feature>clusterMember-1.0</feature>
    </featureManager>

    <basicRegistry id="basic">
       <user name="admin" password="adminpwd" />
       <user name="nonadmin" password="nonadminpwd" />
    </basicRegistry>

    <!-- Assign 'admin' to Administrator -->
    <administrator-role>
       <user>admin</user>
    </administrator-role>
    <!-- To allow access to this server from a remote client host="*" has been added to the following element -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <include location="/config/collective-create-include.xml" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
</server>
